{$CADDY_SITE_ADDRESS} {
	log {
		output net logstash:5044 {
			soft_start
		}
		format json {
			time_format rfc3339
			duration_format ms
		}
	}

	handle_path /api/* {
		reverse_proxy back:8080
	}

	handle {
		root * /app/front
		encode gzip
		try_files {path} /index.html
		file_server
	}
}
